nav.navbar.navbar-expand-lg.navbar-light.fixed-top#mainNav
    .container
        a.navbar-brand(routerLink='/') Start Bootstrap
        button.navbar-toggler.navbar-toggler-right(
            type='button',
            data-toggle='collapse',
            data-target='#navbarResponsive',
            aria-controls='navbarResponsive',
            aria-expanded='false',
            aria-label='Toggle navigation'
        )
            | Menu
            fa-icon.ml-1([icon]='["fas", "bars"]')
        .collapse.navbar-collapse#navbarResponsive
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(routerLink='/') Home
                li.nav-item
                    a.nav-link(routerLink='/about') About
                    
                li.nav-item(
                    *ngIf='isLoggedIn && isOnPost'
                )
                    a.nav-link.pointer(
                        (click)='editPost()'
                    ) Edit Post

            form.form-inline(
                *ngIf='isLoggedIn'
            )
                a.btn.btn-primary(routerLink='/new') New Post
                
                
