sb-layout-auth
    .container
        .row.justify-content-center
            .col-lg-5
                h5.text-white.text-center.mt-5 Enter admin password
                form.form-inline.justify-content-between(
                    [formGroup]='loginForm',
                    (ngSubmit)='onSubmit()'
                )
                    input#inputPassword.form-control.py-4.mr-2.my-2(
                        data-cy='passwordInput',
                        type='password',
                        formControlName='password',
                        [class.is-valid]='passwordControlValid',
                        [class.is-invalid]='passwordControlInvalid'
                    )

                    button.btn.btn-primary(
                        data-cy='loginButton',
                        type='submit',
                        [disabled]='loginForm.invalid'
                    ) Login

                    .invalid-feedback(*ngIf='passwordControl.hasError("required")')
                        | Password required.
                    .invalid-feedback(*ngIf='passwordControl.hasError("minlength")')
                        | Password must be at least 8 characters.
                h6.text-white-50 Default: 123123123